.jumbotron {
    background-color: rgba(241, 241, 30, 0.89);
    color: black;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: rgba(241, 241, 30, 0.89);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 90%;
    position: static;
    left: 0;
    right: 0;
    bottom: 10px;
}